:root {
 --color-black: #191919;
 --color-black-hover: #2c2c2c;
 --color-gray: #292929; 
 --color-light-gray: #E6E6E6;
 --color-white: #fff;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}